.todo-item {

  &__completed {
    text-decoration: line-through;
  }

  &__checkbox {
    margin-right: 10px;
  }

  &__date {
    vertical-align: sub;
    font-size: 11px;
    color: #ccc;
  }

}

.todo-list {
  max-height: 300px;
  overflow-y: scroll;
}